/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.navbar{
    background-color:darkslateblue;
}

footer {
    margin: 50px 0;
    background-color: darkslateblue;
}

.input-group {
    width: 200px;
    margin-top: 1.2%; 
    margin-bottom: 1.2%;
}

.responsive img{
    width: 100%;
}

.col-lg-4 {
 margin-top: 6%;   
}

.input-group {
 float: right;   
}

.dropdown-menu {
    background-color: darkslateblue;
    color: #555;
}

.dropdown-menu li {
    background-color: darkslateblue;
}

.dropdown-toggle a:visited {
    background-color: darkslateblue;
}

 .ads {
    margin-top: 2%;
     margin-left: auto;
     margin-right: auto;
}

footer p a {
    color: white;
}

.dropdown li a{
    color: white;
}
